<div class="mui-container mui-text-center">
  <img alt="" src="<%= asset_path "index_title.png" %>" style="margin-top: 24px;"/>
  <img alt="" src="<%= asset_path "index_txt.png" %>" style="margin-top: 24px;"/>
</div>

<div class="mui-container mui-text-center">
  <form action="/songs/result" method="POST">
    <input type="text"
           style="background-color:transparent;
                  display:block;margin:50px auto;
                  font-size:22px;
                  padding:0 20px;
                  background-image:url(<%= asset_path "index_form.png" %>);
                  border:none;
                  height:65px;
                  width:732px;"
           placeholder="あなたは今どんな気持ち？">

    <input type="image"
           src="<%= asset_path "index_btn_play.png" %>"
           id="search" ></input>
  </form>
</div>

<style>
 body {
   background-image:url(<%= asset_path "bg_index.jpg" %>);
 }
</style>
